@import "../../mixins";
@import "../../constants";

.note-page {
  @include background-color($background-color);
  @include font-style($font-style);
  @include flex-column(12px);
  @include full-height;
  margin: 0;
  @include box-style(12px);
  @include full-width;

  &__content {
    display: inline;
    @include box-style(12px, 1px dashed white);
    height: 100%;
    margin-bottom: 12px;
  }

  &__navigation {
    @include flex-column;
    position: relative;
    top: 0;
    @include full-width;
  }
}
