.login-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 24px;
  margin: 0;
  box-sizing: border-box;
  background-color: #333;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 140px;
    gap: 24px;
  }
}
