@import "../../mixins";
@import "../../constants";

.prompt-component {
  &__wrapper {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    @include background-color(rgba($background-color, 0.94));
    @include full-width;
    padding: 24px;
    @include full-height;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  &__container {
    @include flex-column(24px);
    @include background-color($background-color);
    padding: 24px;
    @include box-style(24px, 1px dashed $font-color);
    width: 100%;
  }

  &__title,
  &__description {
    @include reset-margins-padding;
  }

  &__description {
    font-size: 16px;
  }

  &__input {
    background: none;
    border: 1px solid $font-color;
    min-height: 80px;
    @include font-style(monospace, $font-color);
    padding: 12px;
  }
}
