@import "./constants";

@mixin flex-column($gap: 12px) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin full-width {
  width: 100%;
}

@mixin box-style($padding: 12px, $border: 1px dashed white) {
  padding: $padding;
  border: $border;
  box-sizing: border-box;
}

@mixin full-height {
  min-height: 100vh;
}

@mixin reset-margins-padding {
  margin: 0;
  padding: 0;
}

@mixin background-color($color: $background-color) {
  background-color: $color;
}

@mixin font-style($family, $color: $font-color) {
  font-family: $family;
  color: $color;
  font-size: 1.2rem;
  line-height: 2.37rem;
}
