@import "../../styles/mixins.scss";
@import "../../styles/constants.scss";

.word-component {
  @include font-style($font-style);
  display: inline;
  padding: 4px;
  // border: 1px dashed white;
  align-items: center;
  box-sizing: border-box;
  width: fit-content;
  vertical-align: center;
  font-family: monospace;
  color: white;
  overflow: hidden;
  cursor: pointer;

  &.collapsible {
    display: inline;
    background: rgba(255 255 255 / 0.1);
    margin: 0;
    padding: 8px 0;
    box-sizing: border-box;
  }

  &__input {
    background: none;
    border: none;
    border-bottom: 1px dashed white;
    color: white;
    padding: 4px;
    margin: 0;
    min-width: fit-content;
  }

  &__button {
    background: none;
    border: none;
    border: 1px dashed white;
    padding: 4px;
    margin: 0;

    &:hover {
      background-color: grey;
    }
  }

  &__text {
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    align-self: stretch;
    box-sizing: border-box;
    align-items: center;
    line-height: 16px;
  }

  &__menu {
    background: none;
    border-radius: 100%;
    border: 1px solid white;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 8px;
    box-sizing: border-box;
  }
}
